.App {
  font-family: 'Inter', sans-serif;
}

.border-0:focus {
  box-shadow: 0 0 0 .25rem rgba(108, 117, 125, .50) !important; 
}
.btn-group-vertical:focus {
  border: .09rem solid !important;
  border-color: rgba(13,110,253, 0) !important;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}
.btn-secondary:focus {
  box-shadow: 0 0 0 .25rem rgba(108, 117, 125, .50) !important;
}
.btn-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}
.btn-outline-primary:focus {
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25) !important;
}

